<!DOCTYPE html>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Apache Mahout: Scalable machine learning and data mining</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="Distribution" content="Global">
  <meta name="Robots" content="index,follow">
  <meta name="keywords" content="apache, apache hadoop, apache lucene,
        business data mining, cluster analysis,
        collaborative filtering, data extraction, data filtering, data framework, data integration,
        data matching, data mining, data mining algorithms, data mining analysis, data mining data,
        data mining introduction, data mining software,
        data mining techniques, data representation, data set, datamining,
        feature extraction, fuzzy k means, genetic algorithm, hadoop,
        hierarchical clustering, high dimensional, introduction to data mining, kmeans,
        knowledge discovery, learning approach, learning approaches, learning methods,
        learning techniques, lucene, machine learning, machine translation, mahout apache,
        mahout taste, map reduce hadoop, mining data, mining methods, naive bayes,
        natural language processing,
        supervised, text mining, time series data, unsupervised, web data mining">
  <link rel="shortcut icon" type="image/x-icon" href="http://mahout.apache.org/images/favicon.ico">
  <script id="twitter-wjs" src="/js/widgets.js"></script>
  <script type="text/javascript" src="/js/prototype.js"></script>
  <script type="text/javascript" src="/js/effects.js"></script>
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/slides.js"></script>

  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/global.css" type="text/css">
</head>

<body id="home" data-twttr-rendered="true">
  <div id="wrap">
   <div id="header">
    <div id="logo"><a href="/overview.html"></a></div>
  <div id="search">
    <script type="text/javascript">
      function getBlank(input, stdValue) {
      if (input.value == stdValue) {
      input.value = '';
      }
      return true;
      }

      function selectProvider(form) {
      provider = form.elements['searchProvider'].value;
      if (provider == "any") {
      if (Math.random() > 0.5) {
      provider = "lucid";
      } else {
      provider = "sl";
      }
      }

      if (provider == "lucid") {
      form.action = "http://search.lucidimagination.com/p:mahout";
      } else if (provider == "sl") {
      form.action = "http://search-lucene.com/mahout";
      }

      days = 90; // cookie will be valid for 90 days
      date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      expires = "; expires=" + date.toGMTString();
      document.cookie = "searchProvider=" + provider + expires + "; path=/";
      return true;
      }
    </script>
    <form id="quick-search" method="GET" onsubmit="return selectProvider(this)" action="http://search-lucene.com/mahout" name="searchform">
      <fieldset>
        <input type="search" name="q" value="Search with Apache Solr..." class="class1 class2 hint" accesskey="q" onfocus="getBlank(this, &#39;Search with Apache Solr...&#39;)">
        <span style="color:white">@</span>
        <select name="searchProvider" id="searchProvider">
          <option value="any">select provider</option>
          <option value="lucid">Lucid Find</option>
          <option value="sl">Search-Lucene</option>
        </select>
      </fieldset>
      <script type="text/javascript">
        if (document.cookie.length>0) {
        cStart=document.cookie.indexOf("searchProvider=");
        if (cStart!=-1) {
        cStart=cStart + "searchProvider=".length;
        cEnd=document.cookie.indexOf(";", cStart);
        if (cEnd==-1) {
        cEnd=document.cookie.length;
        }
        provider = unescape(document.cookie.substring(cStart,cEnd));
        document.forms['searchform'].elements['searchProvider'].value = provider;
        }
        }
      </script>
    </form>
  </div>

    <div class="navbar navbar-inverse" style="position:absolute;padding-right:5px;padding-left:5px;top:84px;right:0">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="brand" href="#">Apache Community Development Project</a> -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">General<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/general/downloads.html">Downloads</a>
                  <li><a href="/general/who-we-are.html">Who we are</a>
                  <li><a href="/general/mailing-lists,-irc-and-archives.html">Contact</a> 
                  <li><a href="/general/books-tutorials-and-talks.html">Books, Tutorials, Talks</a></li>
                  <li><a href="/general/powered-by-mahout.html">Powered By Mahout</a>
                  <li><a href="/general/professional-support.html">Professional Support</a>
                  <li><a href="https://cwiki.apache.org/confluence/display/MAHOUT/Mahout+Wiki">Mahout Wiki</a>
                  <li><a href="/users/basics/collections.html">Collection of data sets</a>
                  <li class="divider"></li>
                  <li class="nav-header">Resources</li>
                  <li><a href="/general/reference-reading.html">Reference Reading</a>
		  <li><a href="/general/faq.html">FAQ</a>
		  <li class="divider"></li>
		  <li class="nav-header">Legal</li>
		  <li><a href="http://www.apache.org/licenses/">License</a></li>
		  <li><a href="http://www.apache.org/security/">Security</a></li>
                  <li><a href="/general/privacy-policy.html">Privacy Policy</a>
                </ul>
              </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Developers<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/developers/developer-resources.html">Developer resources</a></li>
                  <li><a href="/developers/version-control.html">Version control</a></li>
                  <li><a href="/developers/buildingmahout.html">Build from source</a></li>
                  <li><a href="/developers/issue-tracker.html">Issue tracker</a></li>
      		  <li><a href="https://builds.apache.org/hudson/job/Mahout-Quality/clover/" target="_blank">Code quality reports</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Contributions</li>
                  <li><a href="/developers/how-to-contribute.html">How to contribute</a></li>
                  <li><a href="/developers/how-to-become-a-committer.html">How to become a committer</a></li>
                  <li><a href="/developers/gsoc.html">GSoC</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">For committers</li>
                  <li><a href="/developers/how-to-update-the-website.html">How to update the website</a></li>
                  <li><a href="/developers/patch-check-list.html">Patch check list</a></li>
                  <li><a href="/developers/how-to-release.html">How to release</a></li>
                  <li><a href="/developers/thirdparty-dependencies.html">Third party dependencies</a></li>
                </ul>
               </li>
               <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Basics<b class="caret"></b></a>
                 <ul class="dropdown-menu">
                  <li><a href="/users/basics/algorithms.html">List of algorithms</a>
                  <li><a href="/users/basics/quickstart.html">Quickstart</a>
                  <li><a href="/users/basics/system-requirements.html">System requirements</a>
                  <li class="divider"></li>
                  <li class="nav-header">Collections</li>
 
                  <li><a href="/users/basics/mahout-collections.html">Mahout collections</a>
                  <li class="divider"></li>
                  <li class="nav-header">Creating vectors</li>
                  <li><a href="/users/basics/creating-vectors.html">General vector creation</a>
                  <li><a href="/users/basics/creating-vectors-from-text.html">Creating vectors from text</a>
                  <li><a href="/users/basics/tf-idf---term-frequency-inverse-document-frequency.html">TF-IDF</a>
                  <li class="divider"></li>
                  <li class="nav-header">Other</li>
                  <li><a href="/users/basics/collocations.html">Co-Locations</a>
                  <li><a href="/users/basics/dimensional-reduction.html">Dimensional reduction</a>
                  <li><a href="/users/basics/mahout.ga.tutorial.html">GA tutorial</a>
                  <li><a href="/users/basics/principal-components-analysis.html">Principal components analysis</a>
                   <li><a href="/users/basics/svd---singular-value-decomposition.html">SVD</a>
                </ul>
                 </li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classification<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li class="divider"></li>
                <li class="nav-header">Design and Background</li>
                <li><a href="/users/classification/classifyingyourdata.html">Classifying data</a></li>
		<li><a href="/users/classification/bayesian.html">Bayes design doc</a></li>
                <li><a href="/users/classification/naivebayes.html">Design naive bayes</a></li>
                <li><a href="/users/classification/complementary-naive-bayes.html">Design complimentary bayes</a></li>
		<li><a href="/users/classification/class-discovery.html">Class discovery</a></li>
                <li><a href="/users/stuff/hidden-markov-models.html">HMM</a></li>
	        <li><a href="/users/classification/random-forests.html">Design random forests</a></li>
                <li><a href="/users/classification/logistic-regression.html">Design logisitic regression</a></li>
                <li><a href="/users/stuff/partial-implementation.html">Partial Impl</a></li>
                <li class="divider"></li>
                <li class="nav-header">Commandline usage</li>
                <li><a href="/users/classification/bayesian-commandline.html">Bayes command line</a></li>
                <li class="divider"></li>
                <li class="nav-header">Examples</li>
                <li><a href="/users/classification/wikipedia-bayes-example.html">Wikipedia Example</a></li>
                <li><a href="/users/clustering/20newsgroups.html">20 newsgroups example</a></li>
                <li><a href="/users/clustering/twenty-newsgroups.html">20 newsgroups example</a></li>
                <li><a href="/users/classification/breiman-example.html">Breiman example</a></li>
	        <li><a href="/users/stuff/traveling-salesman.html">Traveling Salesman</a></li>
                </ul></li>
               <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clustering<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="/users/clustering/clusteringyourdata.html">Overview</a></li>
                <li><a href="/users/clustering/cluster-dumper.html">Cluster dumper tool</a></li>
                <li class="divider"></li>
                <li class="nav-header">Algorithms</li>
                <li><a href="/users/clustering/k-means-clustering.html">Design k-Means clustering</a></li>
                <li><a href="/users/clustering/canopy-clustering.html">Design Canopy clustering</a></li>
                <li><a href="/users/clustering/dirichlet-process-clustering.html">Design Dirichlet clustering</a></li>
                <li><a href="/users/clustering/fuzzy-k-means.html">Design Fuzzy k-Means</a></li>
                <li><a href="/users/clustering/latent-dirichlet-allocation.html">Design LDA</a></li>
                <li><a href="/users/clustering/mean-shift-clustering.html">Design Meanshift</a></li>
                <li><a href="/users/clustering/spectral-clustering.html">Design Spectral</a></li>
                <li class="divider"></li>
                <li class="nav-header">Commandline usage</li>
                <li><a href="/users/clustering/k-means-commandline.html">Commandline k-Means</a></li>
                <li><a href="/users/clustering/canopy-commandline.html">Commandline Canopy clustering</a></li>
                <li><a href="/users/clustering/dirichlet-commandline.html">Commandline Dirichlet clustering</a></li>
		<li><a href="/users/clustering/fuzzy-k-means-commandline.html">Commandline Fuzzy k-Means</a></li>
                <li><a href="/users/clustering/lda-commandline.html">Commandline LDA</a></li>
                <li><a href="/users/clustering/mean-shift-commandline.html">Commandline Meanshift</a></li>
                <li class="divider"></li>
                <li class="nav-header">Examples</li>
                <li><a href="/users/clustering/clustering-of-synthetic-control-data.html">Example: Synthetic data</a></li>
                <li><a href="/users/clustering/clustering-seinfeld-episodes.html">Example: Seinfeld</a></li>
                <li class="divider"></li>
                <li class="nav-header">Post processing</li>
                <li><a href="/users/clustering/viewing-result.html">Viewing results, part a</a></li>
                <li><a href="/users/clustering/viewing-results.html">Viewing results, part b</a></li>
                <li><a href="/users/clustering/visualizing-sample-clusters.html">Cluster visualisation</a></li>
                </ul></li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recommendations<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li><a href="/users/recommender/recommender-documentation.html">General</a></li>
                <li><a href="/users/recommender/recommendationexamples.html">Example</a></li>
                <li><a href="/users/recommender/tastecommandline.html">Taste Commandline</a></li>
                <li><a href="/users/recommender/recommender-first-timer-faq.html">First Timer FAQ</a></li>
                <li><a href="/users/recommender/itembased-collaborative-filtering.html">Item based collaborative filtering</a></li>
                <li><a href="/users/recommender/pearsoncorrelation.html">Pearson Correlation</a></li>
                <li><a href="/general/mahout-benchmarks.html">Benchmarks</a>
                <li class="divider"></li>
                <li class="nav-header">Recommenders on EMR</li>
                <li><a href="/users/emr/mahout-on-amazon-ec2.html">Mahout on EC2</a></li>
                <li><a href="/users/emr/mahout-on-elastic-mapreduce.html">Mahout on EMR</a></li>
                <li><a href="/users/emr/use-an-existing-hadoop-ami.html">Mahout on existing Hadoop AMI</a></li>
                </ul></li>
           </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div id="slides">
    <div class="slideshow" id="mantleSlides">
      <div id="slide1" style="display: none;">
        <div class="callout">
          Scalable machine learning<br>
          and data mining
        </div>
        <div class="description">
          Apache Mahout has implementations of a wide range of machine learning and data mining algorithms: clustering,
          classification, collaborative filtering and frequent pattern mining
        </div>
        <div class="mantle">
          <img alt="Apache Mahout" src="/images/mantle-mahout.png">
        </div>
      </div>
      <div id="slide2" style="display: none;">
        <div class="callout">
          Leveraging the power of Map/Reduce<br>
          with Apache Hadoop
        </div>
        <div class="description">
          Our core algorithms for clustering, classification and batch based collaborative filtering are implemented on
          top of Apache Hadoop using the map/reduce paradigm
        </div>
        <div class="mantle">
          <img alt="Hadoop" src="/images/mantle-hadoop.png">
        </div>
      </div>
      <div id="slide3" style="">
        <div class="callout">
          Scalable and vibrant community
        </div>
        <div class="description">
          The goal of Apache Mahout is to build a vibrant, responsive, diverse community to facilitate discussions not only on
          the project itself but also on potential use cases
        </div>
        <div class="mantle">
          <img alt="Apache Mahout community" src="/images/mantle-community.png">
        </div>
      </div>
      <div id="slide4" style="opacity: 0.5; display: none;">
        <div class="callout">
          Apache 2.0 licensed
        </div>
        <div class="description">
          Apache Mahout is distributed under a commercially friendly Apache Software license
        </div>
        <div class="mantle">
          <img alt="Apache Software Foundation" src="/images/mantle-asf.png">
        </div>
      </div>
    </div>
    <div class="controls">
      <a class="next" id="next" title="Next" href="http://mahout.apache.org/#">Next</a>
      <a class="previous" id="previous" title="Previous" href="http://mahout.apache.org/#">Previous</a>
      <a class="start" id="start" title="Start" href="http://mahout.apache.org/#" style="display: none;">Start</a>
      <a class="stop" id="stop" title="Stop" href="http://mahout.apache.org/#">Stop</a>
    </div>
  </div>

  <script type="text/javascript">
    function StartSlides() {
    new Slides('mantleSlides');
    }
    document.observe ('dom:loaded', StartSlides);
  </script>
</div>

 <div id="sidebar">
  <div class="downloadNow">
    <a href="http://cwiki.apache.org/confluence/display/MAHOUT/Downloads">
      <img alt="Download Apache Mahout" src="/images/download.png"></a>
  </div>
  <div id="sidebar-wrap">
    <ul class="sidemenu">
      <li>Latest release version: Mahout 0.8</li>
      <li>Latest development version: Mahout 0.9-SNAPSHOT</li>
    </ul>
    <h2>Twitter</h2>
    <ul class="sidemenu">
      <li data-twttr-id="twttr-sandbox-0">
      <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-timeline twitter-timeline-rendered" title="Twitter Timeline Widget" style="border: none; max-width: 100%; min-width: 180px;" width="360" height="600"></iframe>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
    </ul>
    <h2>Apache Software Foundation</h2>
    <ul class="sidemenu">
      <li><a href="http://www.apache.org/foundation/how-it-works.html">How the ASF works</a></li>
      <li><a href="http://www.apache.org/foundation/getinvolved.html">Get Involved</a></li>
      <li><a href="http://www.apache.org/dev/">Developer Resources</a></li>
      <li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
      <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
    </ul>
    <h2>Related Projects</h2>
    <ul class="sidemenu">
      <li><a href="http://lucene.apache.org/">Lucene</a></li>
      <li><a href="http://hadoop.apache.org/">Hadoop</a></li>
    </ul>
  </div>
</div>

  <div id="content-wrap" class="clearfix">
   <div id="main">
    {% block content %}{% endblock %}
   </div>
  </div>     
</div> 
  <footer class="footer" align="center">
    <div class="container">
      <p>
        Copyright &copy; 2013 The Apache Software Foundation, Licensed under
        the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
        <br />
        Apache and the Apache feather logos are trademarks of The Apache Software Foundation.
      </p>
    </div>
  </footer>
  
  <script src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    (function() {
      var cx = '012254517474945470291:vhsfv7eokdc';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
</body>
</html>
